<html>
	<head>
		<title>Sign Up</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

		<script src="/javascripts/SignUp.js"></script>
	</head>
	<body ng-app="signUpModule">
		
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
			</div>
		</div>
		
		<script type="text/ng-template" id="/csignup.html">
			<h1>Sign Up</h1>
			{{aa}}
			<form>
				<table border="0" >
					<tr>
						<td>Name</td>
						<td><input type="text" ng-model="name"></td>
					</tr>

					<tr>
						<td>Description</td>
						<td><input type="text" ng-model="desc"></td>
					</tr>

					<tr>
						<td>Username</td>
						<td><input type="text" ng-model="username"></td>
					</tr>

					<tr>
						<td>Password</td>
						<td><input type="password" ng-model="password"></td>
					</tr>

					<tr>
						<a href="#/signupdone">Sign up</a>
						<td><input type="button" value="Sign Up" ng-click="addCompany()"></td>
					</tr>

				</table>
			</form>
		</script>
		
		<script type="text/ng-template" id="/signupdone.html">
			<form>
				YOYO
				<input type="text" placeholder="name"/>			</form>
		</script>
		
		
	</body>
</html>