<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

		<script src="/javascripts/signin.js"></script>
	</head>

	<body ng-app="lala">

	
		<script type="text/ng-template" id="/tata.html">
			{{a}}
		</script>
		
		<script type="text/ng-template" id="/tata2.html">
			{{a}}
		</script>

		<script type="text/ng-template" id="/tata3.html">
			{{a}}
		</script>
		<div ui-view></div>
	</body>
</html>