<html>
	<title>Project 101</title>
	<body>
		<h1>Project 101</h1>
		<p><a href="/csignup"><input type="button" value="Company Sign Up"></a></p>
		<p><a href="csignin.html"><input type="button" value="Company Sign In"></a></p>
	</body>
</html>