<html>
	<title>Post a Job</title>
	<body>
		<h1>New Job</h1>
		<form>
			<table border="0" >
				<tr>
					<td>Title</td>
					<td><input type="text"></td>
				</tr>
				
				<tr>
					<td>Field</td>
					<td><input type="text"></td>
				</tr>

				<tr>
					<td>Description</td>
					<td><input type="text"></td>
				</tr>

				<tr>
					<td>Skills</td>
					<td><input type="text"></td>
				</tr>

				<tr>
					<td>Experience</td>
					<td><input type="text"></td>
				</tr>
				
				<tr>
					<td>Employment Type</td>
					<td><input type="text"></td>
				</tr>

				<tr>
					<td><input type="button" value="Post"></td>
				</tr>

			</table>
		</form>
	</body>
</html>